.container{
    background-image: url("./images/doctor.png");
    height: 100%; 
    background-position: 'center';
  background-size:  'cover';
  background-repeat : 'no-repeat';
   
  }
  @media(max-width :800px) { /* Making responsive when it hits 900px then push everything to column dont squiz*/
    .app{
      flex-direction: column;
    }
  }